# Données brutes (trop volumineuses — relancer les scripts pour les récupérer)
data/raw/

# Fichiers intermédiaires de traitement
data/processed/

# Dimensions finales et table des faits (trop volumineuses — relancer buildfait.py)
data/dims/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Environnements virtuels
venv/
env/
python_env_global/
